@font-face{
    font-family: 'NotoSansKR';
    src:url('../font/NotoSansKR-Regular.otf');
}
*{
    font-family: "NotoSansKR";
}
html {
    scroll-behavior: smooth;
}
body{
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.layout--width{
    width: 1380px;
}
/* 공통 css 영역 */
.row-box{
    display: flex;
    flex-direction: row;
}
.col-box{
    display: flex;
    flex-direction: column;
}
.title--color--first{
    color: #B29F8E;
}
.title--color--two{
    color: #85796D;
}
.title--color--three{
    color:#B29F8E;
}
.title--color--fourth{
    color:#999;
}
.max--width{
    width: 100%;
}
.half--width{
    width: 50%;
}
.half--width--two{
    width: 25%;
}
.width--height{
    width: 100%;
    height: 100%;
}
.product--width{
    width: 680px;
}
.img--fill{
    object-fit: fill;
}
.pist-absolute{
    position: absolute;
}
.margin--reset{
    margin:0px;
}
input{
    outline: none;
}
button{
    outline: none;
}
/* @keyframes smoothmenu {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
} */
/* 스크롤 탑 영역 */
#scroll-top{
    position: relative;
}
.scroll-text{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.4rem;
    font-weight: 600;
    position: fixed;
    right: 100px;
    border-radius: 50%;
    bottom: 50px;
    background-color: #eeedee;
    color:#949494;
    z-index: 20;
}
.scroll-text i{
    width: 10px;
    height: 10px;
    padding-bottom: 2px;
    background-image: url(../image/icon/top.png);
    background-repeat: no-repeat;
}

/* 헤더 영역 */
header{
    width: 100%;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid #eee;
    padding: 5px 0px;
    position: fixed;
}
#header-box{
    width: 1600px;
    display: flex;
    flex-direction: column;
}
#user-list{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    padding: 10px 0px;
}
#user-list li{
    padding-left: 20px;
    font-size: 0.75rem;
    letter-spacing: 0.020rem;
    color: #333;
}
#user-list li a {
    position: relative;
    display: block;
    transition: 0.3s;
}
#user-list li a:hover{
    color: #B29F8E;
}
/* 메뉴 영역 */
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logobox{
    margin: 0px 20px;
    height: 30px
}
.logobox img{
    width: 130px;
}
#menu-list{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}
#menu-list li:first{
    padding-left: 0px;
}
#menu-list li:nth-child(n+2){
    padding-left: 30px;
}
#menu-list li{
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    letter-spacing: 0.020rem;
    font-weight: 600;
}
#menu-list li a {
    position: relative;
    display: block;
    transition: 0.3s;
}
#menu-list li a:hover{
    color: #B29F8E;
}
.search-box{
    margin: 0px;
    position: relative;
    display: flex;
}
.search-text{
    background-color: white;
    margin-right: 0px;
    width: 200px;
    border: 1px solid #b4a79e;
    border-radius: 15px;
    height: 28px;
    font-size: 0.75rem;
    padding: 0px 20px;
    outline: none;
    color: #666;
}
.search-submit{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-image: url(../image/icon/search.png);
    background-size: 10px;
    background-repeat: no-repeat;
}

/* 푸터 영역 */
footer{
    width: 100%;
    height: 180px;
    background-color: #373737;
    color: #F1F1F1;
    font-size: 0.9rem;
}
#main--footer{
    align-items: center;
    height: 50px;   
}
#main--footer li{
    margin-right: 30px;
}
#footer__bottombox{
    margin-top: 50px;
    align-items: center;
    padding-right: 40px;
}
#footer--bottom__imgbox{
    width: 240px;
    height: 40px;
}
#footer--bottom__text{
    margin-left: 20px;
}