.input--width{
    width: 355px;
}
/* common css 공통 영역 */
body{
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login--wrap{
    width: 415px;
    height: 590px;
    align-items: center;
    background-color: white;
}
#login--control{
    margin-top: 25px;
}
#login__imgbox{
    width: 230px;
    height: 55px;
    margin-top: 25px;
}

/* 로그인 텍스트 상자영역 */
#login--control input[type="text"]::placeholder{
    color: #606060;
}
.login--text{
    height: 50px;
    font-size: 18px;
    border: 2px solid #AF9C8B;
    margin: 5px 0px;
    padding: 10px 20px;
}

/* 로그인 버튼 영역 */
button{
    width: 395px;
    height: 70px;
    font-size: 21px;
    padding: 10px 20px;
    cursor: pointer;
}
#form-btn{
    background-color: #AF9C8B;
    color: #fff;
    margin-top: 25px;
}
#join-btn{
    background-color: white;
    color: #606060;
    border-bottom: 1px solid #EDEDED;
}

/* 로그인 소셜 영역 */
#social--wrap{
    margin-top: 15px;
}
#social--text{
    margin-top: 10px;
    color: #757575;
    font-size: 15px;
}
#social--box{
    margin-top: 20px;
}