@font-face{
    font-family: 'NotoSansKR';
    src:url('../font/NotoSansKR-Regular.otf');
}

*{
    font-family: "NotoSansKR";
}
html {
    scroll-behavior: smooth;
}
body{
    position: relative;
    overflow-x: hidden;
}
/* 스크롤 탑 영역 */
#scroll-top{
    position: relative;
}
.scroll-text{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.4rem;
    font-weight: 600;
    position: fixed;
    right: 100px;
    border-radius: 50%;
    bottom: 50px;
    background-color: #eeedee;
    color:#949494;
    z-index: 20;
}
.scroll-text i{
    width: 10px;
    height: 10px;
    padding-bottom: 2px;
    background-image: url(../image/icon/top.png);
    background-repeat: no-repeat;
}
/* 메뉴 영역 */
header{
    width: 100%;
}
#header-box{
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
#user-list{
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    padding: 10px 0px;
}
#user-list li{
    padding-left: 20px;
    font-size: 0.75rem;
    letter-spacing: 0.020rem;
    color: #333;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logobox{
    margin: 0px 20px;
}
#menu-list{
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    margin-right: 43px;
}
#menu-list li:first{
    padding-left: 0px;
}
#menu-list li:nth-child(n+2){
    padding-left: 50px;
}
#menu-list li{
    display: flex;
    flex-direction: row;
    font-size: 0.85rem;
    letter-spacing: 0.020rem;
}
.search-box{
    margin: 0px;
    margin-top: 7px;
}
.search-text{
    background-color: white;
    margin-right: 0px;
    width: 262px;
    border: 1px solid #b4a79e;
    border-radius: 15px;
    height: 28px;
    font-size: 0.8rem;
    padding: 0px 20px;
    outline: none;
    color: #666;
}