@keyframes fill-box {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
.imgtext-fill-start {
    animation: 5s fill-box backwards;
}
.imgtext-fillbox {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0px; left: 0px;
    background-color: #fff;
}
.imgtext-front{
    width: 100%;
    height: 100%;
    z-index: 10;
}
/* 이미지 슬라이드 영역 */
#main-imgslide{
    width: 100%; height: 600px;
    background-color: khaki;
    position: relative;
}
/* 이미지 박스 영역 */
.imgslide-box{
    width: 400%; 
    height: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    transform: translateX(0%);
    transition: 0.4s;
}

#main-imgslide img{
    width: 25%;
    height: 100%;
    object-fit: cover;
}

/* 이미지 탭 텍스트 영역 */
.main-imgslide{
    width: 1200px;
    height: 100%;
    position: relative;
}
.imgslide-list{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    bottom: 0px;
}
.imgslide-list li{
    width: 13%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
    margin: 0px 2px 0px 0px;
    position: relative;
    padding: 10px;
}
.imgslide-list p{
    margin: 0px;
    color: #222;
    width: 100%;
}
.imgslide-top{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
}
.imgslide-bottom{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 18px;
    margin-top: 5px;
    font-size: 0.75rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 베스트 브랜드 영역 */
#best-brandbox{
    width: 100%;
    height: 550px;
    background-color: #f9f9f9;
}
.best-brandbox{
    width: 1200px;
    display: flex;
    flex-direction: column;
}

/* 베스트 브랜드 타이틀 영역 */
.best-textbox{
    margin-top: 50px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}
.text-top{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}
.text-top strong{
    padding-left: 7px;
    font-weight: 700;
}
.text-bottom{
    padding-top: 15px;
    margin: 0px;
    font-size: 0.95rem;
    letter-spacing: 0.1rem;
}

/* 베스트 브랜드 컨텐츠 영역 */
#brand-Content{
    margin-top: 30px;
    width: 100%; 
    display: flex;
    flex-direction: row;
}
.brand-Content:first-child{
    margin-left: 0px;
}
.brand-Content:last-child{
    margin-right: 0px;
}
.brand-Content{
    width: 380px; 
}

/* 베스트 브랜드 내용 영역 */
.brand-imgBox{
    width: 100%;
    height: 250px;
}
.brand-imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand-Content p{
    margin: 0px;
}
.brand-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    padding-top: 20px;
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
}
.brand-explan{
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    height: 45px;
    font-size: 0.95rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 브랜드 픽 영역 */
#brand-pick{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAE5E1;
}
#brand-pick img{
    width: auto;
    height: 100%;
}

/* 베스트 제품 영역 */
#best-product{
    width: 100%;
    background-color: white;
}
.best-product{
    width: 1200px;
    display: flex;
    flex-direction: row; 
    padding-top: 70px;
}
/* 베스트 제품 제목 영역 */
#best_product-textbox{
    width:180px; 
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}
/* 베스트 제품 내용 영역 */
#best_product-content{
    width:900px; 
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
}
.best_product-content:nth-child(3n+1){
    margin-left: 0px;
}
.best_product-content:nth-child(3n){
    margin-right: 0px;
}
.best_product-content{
    width: 270px;
    display: flex;
    flex-direction: column;
}
.best_product-content a{
    width: 100%;
}
/* 베스트 상품 내용 영역 */
.product-imgBox{
    width: 100%;
    height: 270px;
}
.product-imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand-Content p{
    margin: 0px;
}
.product-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    width: 100%;
    padding-top: 20px;
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
}
.product-price{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    width: 100%;
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 0.95rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

/* 분위기 카테고리 영역 */
#mood-categorie{
    width: 100%;
    height: 500px;
    background-color:#f9f9f9;
}
.mood-categorie{
    width: 1400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.mood-categorie li{
    position: relative;
    width: 260px;
    height: 370px;
}
.mood-categorie li img{
    width: 100%;
    height: 100%;
}
.mood-whybox{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.9rem;
}
.mood-whybox span{
    font-size: 2.1rem;
    font-weight: 700;
}
.mood-whybox span:nth-child(2){
    width: 100%;
    letter-spacing: 2.3rem;
    padding-left: 11px;
}
.mood-textbox{
    position: absolute;   
    padding: 15px;
    bottom: 0px;
}
.mood-categorie li p{
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5px;
    margin-left: 0px;
}

/* 하루 추천 영역 */
#day-recommen{
    width: 100%;
    height: 600px;
    border-bottom: 1px solid #eee;
}

/* 푸터 영역 */
footer{
    width: 100%;
    height: 100px;
}
.footer-top{
    width: 100%;
    border-bottom: 1px solid #eee;
}
.company-list{
    width: 1200px;
    display: flex;
    flex-direction: row;
}
.company-list li{
    margin: 0px;
    padding: 15px 10px;
}