*{
    margin :0; 
    padding:0;
    border:0;
    font:inherit;
}
ul,ol,li{
    list-style: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}